@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root { 
  --discord-blue: #7289DA; 
  --discord-white: #FFFFFF; 
  --discord-dark: #2C2F33;
  --discord-black: #23272A; 
  --font-roboto: 'Roboto', sans-serif;
}

body { 
  background-color: var(--discord-dark);
  color: var(--discord-white);
  font-family: var(--font-roboto);
}